/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
}

html,
body {
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.google-btn-color {
  background-color: #ffffff;
}

.google-btn-color:hover {
  background-color: #eff1f7;
}

.github-btn-color {
  background-color: #ffffff;
}

.github-btn-color:hover {
  background-color: #eff1f7;
}
